.bgL{
    background-color:var(--ion-color-primary-contrast);

}

.cusItem{ 
    --ion-background-color:var(--ion-color-light); 
}

.custGrid{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.f30{
    font-size: 30px;
}

.cusItemPrimary{
    --ion-background-color:var(--ion-color-primary);
  
  }