.bgL{
    background-color:var(--ion-color-primary-contrast);

}

.hedCol{
    
    bottom: -20px;
}

.header-md::after{
    background-image: none;
}


.bl8{
  padding-left: 8px;
}
.custChip{
    background-color: #90ee907d;;
   
}
.custChipdanger{
  background-color: #fd000067;;
 
}

.custChiplight{
  background-color:var(--ion-color-primary-contrast);
 
}
.borderP{
  border-style: solid;
  border-width: 1px;
  border-color: var(--ion-color-primary);

}
.custRow{
  background-color:var(--ion-color-primary-contrast);

}

.borderB{
  border-bottom-style: solid;
  border-width: 0.5px;
  border-color: var(--ion-color-medium);
}


ion-item{
  --inner-padding-end:0px;
 
}
.custAvatar{
  width: 40px;
  height: 40px
}

.p10{
  padding-right: 10px;
  padding-top: 25px;
}

.bad10{
  padding-top: 10px;
  padding-bottom: 10px;
}

.custAvatarHed{
    width: 95px;
    height: 95px;
    border-style: solid;
    border-width: 4.5px;
    border-color: var(--ion-color-medium);
  }


 
  .p5{
    padding-top: 10px;
  }
  .bl5{
    padding-left: 10px;
  }

 .custcol {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    
 }
 .brD{
    border-color: var(--ion-color-danger);
 }
 .brs{
   background-color: var(--ion-color-success);
   border-width: 0px;
 }