<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-grid class="bgL"> 
          <ion-row  class="ion-justify-content-center ion-padding">
            <ion-col size="4" class="ion-no-padding">
              <ion-avatar class="custAvatarHed">
                <img src="../../assets/imgs/max.png">
              </ion-avatar> 
            </ion-col>
            <ion-col size="12" class="ion-text-center">
              <h3 class="ion-no-margin"> John Deo</h3>
              <ion-note class="mg5">john.deo222@gmail.com</ion-note>
              <ion-chip class="chipPr" (click)="editProfile()">Edit Profile</ion-chip>
            </ion-col>
            <ion-col size="4" class="ion-text-center">

            </ion-col>
           </ion-row> 
        </ion-grid>



        <ion-list id="inbox-list"> 
          <ion-list-header><ion-note>Security</ion-note></ion-list-header> 
          <ion-menu-toggle auto-hide="false" >
            <ion-item routerDirection="root"  routerLink ="" lines="none" >
              <ion-icon name="lock-closed"></ion-icon>
              <ion-label><b>Password</b></ion-label>
              <ion-chip  fill="outline" color="medium" class="chip2" (click)="editPassword()" slot="end">chang</ion-chip> 
            </ion-item>
          </ion-menu-toggle>
        </ion-list>


        
        <ion-list id="inbox-list"> 
          <ion-list-header><ion-note>Appearance</ion-note></ion-list-header> 
          <ion-menu-toggle auto-hide="false" >
            <ion-item routerDirection="root"  routerLink ="" lines="none" detail="true">
              <ion-icon name="language"></ion-icon>
              <ion-label><b>language</b></ion-label>
              <ion-note slot="end">
                English
              </ion-note>
            </ion-item>
            <ion-item routerDirection="root"  routerLink ="" lines="none" details="true">
              <ion-icon name="sunny"></ion-icon>
              <ion-label><b>Dark mode</b></ion-label>
              <ion-toggle slot="end"> 
              </ion-toggle>
            </ion-item>

        
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="inbox-list"> 
          <ion-list-header><ion-note>About Us</ion-note></ion-list-header> 
          <ion-menu-toggle auto-hide="false" >
            <ion-item routerDirection="root"  routerLink ="" lines="none" detail="true" >
              <ion-icon name="star"></ion-icon>
              <ion-label><b>Rate Us</b></ion-label>
            </ion-item>
            <ion-item routerDirection="root"  routerLink ="" lines="none" detail="true">
              <ion-icon name="clipboard-outline"></ion-icon> 
              <ion-label><b>Terms and Conditions</b></ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>


        <ion-list id="inbox-list"> 
          <ion-list-header><ion-note>Account</ion-note></ion-list-header> 
          <ion-menu-toggle auto-hide="false" >
            <ion-item routerDirection="root"  routerLink ="" lines="none" detail="true" >
              <ion-icon name="help-circle"></ion-icon>
              <ion-label><b>Help</b></ion-label>
            </ion-item>
            <ion-item routerDirection="root"  routerLink ="" lines="none" detail="true">
              <ion-icon name="person"></ion-icon>
              <ion-label><b>Disable Account</b></ion-label>
            </ion-item>
            <ion-grid class="ion-no-padding">
              <ion-row class="bgL">
                <ion-col siz="4" class="ion-padding">
                  <ion-button expnd="full" fill="outline" color="primary">
                    <ion-icon name="log-in-outline"></ion-icon>
                    Logout
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer> 
          <ion-grid class="bgPr">
            <ion-row >
              <ion-col size="12">
                <ion-text color="light">Follow us</ion-text>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-button fill="clear">
                <ion-icon name="logo-facebook" color="light" class="fi"></ion-icon>  
                </ion-button>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-button fill="clear">
                <ion-icon name="logo-instagram" color="light" class="fi"></ion-icon>  
                </ion-button> 
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-button fill="clear">
                <ion-icon name="logo-twitter" color="light" class="fi"></ion-icon>  
                </ion-button> 
              </ion-col> 
            </ion-row>
        </ion-grid>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
