.f10{
    font-size: 10px;
}

.bgL{
    --ion-background-color:var(--ion-color-primary-contrast);

}
.pd10{
    padding-inline: 10px;
}

.diflx{
    display: inline-flex;
}
.mgr10{
    margin-right: 10px;
}
ion-content {
    --ion-background-color: var(--ion-color-primary-contrast);
}

.itemB{
    --background: #D7E8FF;
}
.padBlk{
    padding-block: 12px
}