.bgL{
    background-color:var(--ion-color-primary-contrast);

}

.hedCol{
    
    bottom: -20px;
}

.header-md::after{
    background-image: none;
}



.custChip{
    background-color: #90ee907d;;
   
}
.custChipdanger{
  background-color: #fd000067;;
 
}

.custChiplight{
  background-color:var(--ion-color-primary-contrast);
 
}
.borderP{
  border-style: solid;
  border-width: 1px;
  border-color: var(--ion-color-primary);

}
.custRow{
  background-color:var(--ion-color-primary-contrast);
  margin: 5px;
}

.borderB{
  border-bottom-style: solid;
  border-width: 0.5px;
  border-color: var(--ion-color-medium);
}


ion-item{
  --inner-padding-end:0px;
 
}

.custAvatar{
  width: 60px;
  height: 60px;
}