<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
     </ion-buttons>
     <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-item lines="none">
            <ion-icon slot="end" name="options-outline" color="primary"></ion-icon>
            <ion-searchbar ></ion-searchbar>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center"> 
      <ion-col size="12" md-size="6" size-lg="6" class="ion-no-padding">


  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col size="12" class="ion-no-padding pd10">
        <ion-label> <ion-text  color="medium" >Suggestions</ion-text></ion-label> 
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-card class="bgL p10">
          <ion-grid class="ion-no-padding ion-no-margin">
            <ion-row>
              <ion-col size="12" class="ion-no-padding ion-no-margin ">
                <h6 class="mg4">
                  <ion-label>
                    <ion-text color="medium">Experts</ion-text>
                  </ion-label>
                </h6>
                <ion-item lines="none" class="itemL">
                  <ion-avatar slot="start" class="custAv">
                    <img src="../../assets/imgs/doc4.png">
                  </ion-avatar>
                  <ion-label>
                    <ion-text color="medium">Mr. Smith John</ion-text>
                  </ion-label>
                  <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
                </ion-item>
              </ion-col>

              <ion-col size="12" class="ion-no-padding ion-no-margin pBlk">
                <h6 class="mg4">
                  <ion-label>
                    <ion-text color="medium">Categories</ion-text>
                  </ion-label>
                </h6>
                <ion-item lines="none" class="itemL">
                  <ion-label>
                    <ion-text color="dark">Doctor </ion-text>
                    <ion-text color="medium"> book your appointment</ion-text>
                  </ion-label>
                  <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
                </ion-item>
              </ion-col>
              <ion-col size="12" class="ion-no-padding ion-no-margin pBlk"> 
                <ion-item lines="none" class="itemL">
                  <ion-label>
                    <ion-text color="dark">Lawyer </ion-text>
                    <ion-text color="medium"> book your appointment</ion-text>
                  </ion-label>
                  <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
                </ion-item>
              </ion-col>
              <ion-col size="12" class="ion-no-padding ion-no-margin pBlk"> 
                <ion-item lines="none" class="itemL">
                  <ion-label>
                    <ion-text color="dark">Salon </ion-text>
                    <ion-text color="medium"> book your appointment</ion-text>
                  </ion-label>
                  <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
                </ion-item>
              </ion-col>
              <ion-col size="12" class="ion-no-padding ion-no-margin pBlk">
                <h6 class="mg4">
                  <ion-label>
                    <ion-text color="medium">Services</ion-text>
                  </ion-label>
                </h6>
                <ion-item lines="none" class="itemL">
                  <ion-label>
                    <ion-text color="dark">Transportation </ion-text>
                    <ion-text color="medium"> book your appointment</ion-text>
                  </ion-label>
                  <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
                </ion-item>
              </ion-col>
            </ion-row>


            <ion-row class="ion-justify-content-center pBlk">
              <ion-col size="8">
                <ion-item button lines="none" class="bgL">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="12" class="ion-no-padding ion-no-margin">
                        <ion-label> 
                          <ion-note color="medium"> Show More ( 20 Results )</ion-note>
                        </ion-label>
                      </ion-col>
                      <ion-col size="12" class="ion-no-padding ion-no-margin ion-text-center">
                        <ion-label> 
                         <ion-icon name="chevron-down" color="medium" ></ion-icon>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  
                </ion-item> 
              </ion-col>
            </ion-row>
          </ion-grid>
          


         </ion-card>
         </ion-col>
         </ion-row>
</ion-grid>
        
        
      </ion-col>
    </ion-row>
  </ion-grid>


  
</ion-content>
